@model OdeToFood.Entities.Resturant
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Name</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>ID: @Model.Id</p>
    <p>Cuisine: @Model.Cuisine</p>
 
    @* If secound paramemter is left empty it defaults to index controller action *@
    @Html.ActionLink("Back to list", "")
</body>
</html>